//This stylesheet also styles the NavBar component
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

.wrapper {
	border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
}

//media queries
//for mobiles
@media screen and (max-width: 767px) and (min-width: 320px) {
	//NavBar styles starts
	.nav_bar {
		background-color: #fff;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.brand {
			.brand_logo {
				max-width: 200px;
				max-height: 100px;
			}
		}
		.navbar_items {
			position: fixed;
			left: 0;
			top: 0;
			transform: translate3d(-100vw, 0, 0);
			transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
			overflow: scroll;
			z-index: 1000;
			width: 100vw;
			height: 100vh;
		}
		.toggler {
			border-bottom-left-radius: 100%;
			background-color: #31326f;
			padding: 1.2rem;
			height: 6rem;
			width: 5rem;
			.line {
				width: 25px;
				height: 3px;
				background-color: #fbf6f0;
				margin: 7px;
			}
		}
	}
	//NavBar styles ends
}
//for ipads
@media screen and (max-width: 1024px) and (min-width: 768px) {
	//NavBar styles starts
	.nav_bar {
		background-color: #fff;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.brand {
			.brand_logo {
				max-width: 200px;
				max-height: 100px;
			}
		}
		.navbar_items {
			display: none;
		}
		.toggler {
			.line {
				width: 25px;
				height: 3px;
				background-color: #040405;
				margin: 7px;
			}
		}
	}
	//NavBar styles ends
}
//for laptops and larger screen
@media screen and (min-width: 1025px) {
	//NavBar styles starts
	.nav_bar {
		background-color: #fff;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.toggler {
			display: none;
		}
		.navbar_items {
			padding-right: 9rem;
			width: 50%;
			.navigation {
				display: flex;
				justify-content: space-between;
				list-style: none;
				.navigation_item a {
					font-size: 1.16rem;
					font-family: "Roboto Condensed", sans-serif;
					color: #31326f;
					transition: 0.5s all;
					&:hover {
						padding: 10px 10px;
						text-decoration: none;
						&:hover a {
							background: linear-gradient(rgb(218, 13, 13), #333);
							-webkit-background-clip: text;
							-webkit-text-fill-color: transparent;
						}
					}
				}
			}
		}
	}
	//NavBar styles ends

	//Landing page styles starts
	.landing {
		background-color: #231f37;
		height: 81.3vh;
		.row_one {
			.svg-container {
				.svg-wrapper {
					background-color: #fff;
					img {
						max-width: 654.6197px;
						max-height: 320px;
					}
				}
			}
			.intro {
				color: #c9c9d0;
				font-family: "Sansita Swashed", cursive;
				font-size: 1.2rem;
				line-height: 2rem;
				letter-spacing: 0.09rem;
				span {
					font-size: 2rem;
				}
			}
		}
		.row_two {
			color: #fff;
			background-color: #393e46;
			width: 75%;
			margin-left: 10rem;
			border-radius: 5px;
			box-shadow: rgba(243, 217, 217, 0.705) 0px 3px 8px;
			.card-item {
				h5 {
					color: #cfd3ce;
					text-align: center;
				}
				p {
					color: #839b97;
				}
			}
		}
	}
	//Landing page styles ends
}
